@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 1.5s ease-out;
  /* Adjust the animation duration and easing function as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.0s ease-out;
}

@keyframes rotateIn {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }

  to {
    transform: rotate(0);
    opacity: 1;
  }
}

.animate-rotateIn {
  animation: rotateIn 0.5s ease-out;
}

@keyframes bounceIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-bounceIn {
  animation: bounceIn 0.5s ease-out;
}

/* styles.css (or your preferred stylesheet) */

@keyframes scaleIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.grow-on-hover {
  transition: transform 0.3s ease-in-out;
}

.grow-on-hover:hover {
  animation: scaleIn 0.3s ease-in-out;
  transform: scale(1.1);
}